extends ../layouts/default
block content
    div.desktop-content
        h1 Runescape Mobile Alpha
        div.desktop-description.
            This is a runescape mobile client
            with a nice interface designed
            for stability whilst on the go.

            It works by running an instance of
            OldSchool Runescape on a server,
            and then streaming the data to
            your mobile browser with a nice
            mobile-touch friendly interface.

            <br></br>
        h4 Why not just run it natively?
            <br></br>
        div.desktop-description.
            Because although mobile hardware
            is powerful, running 3D applications
            is intensive and drains the battery fast.
            Especially a legacy OpenGL
            game like OSRS!
            <br></br>
            By running it on a remote server and
            streaming it to your browser, all your
            device needs to worry about is drawing
            an image and sending mouse clicks!
            <br></br>
            When you're walking around outside your
            network is also likely to drop, and then
            you're gonna have to log in every time
            your 4G cuts out for 10seconds... You
            don't need that, especially if all
            you're doing is woodcutting! With this,
            you can put your phone in your pocket and
            continue about your day whilst checking
            back every 5 minutes to see if your
            inventory is full - no logging in again,
            no needless battery drain, and no awkwardly
            holding your phone worrying about
            accidentally clicking.


