extends ./layouts/playdefault

block content
   canvas.game-canvas
   div.game-ui-left
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
   div.game-ui-right
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button
      div.game-ui-button








